<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/custom.css">
    <link rel="stylesheet" href="../../assets/css/styles.css">
</head>
<body style="background-image: linear-gradient(180deg , #fdbbc7,#fff3cd); background-size: contain; background-repeat: no-repeat; background-size: cover;">
        <div class="container mt-5">
            <div class="card" style=" background-image: linear-gradient(180deg, #ffe5ca,#fed8cf); border: 2px dashed #d8c9e6;">
                <div class="card-header" style="background-image: linear-gradient(360deg, #f7cbd8,#ccc7df);">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a href="#clothing" class="nav-link active" data-bs-toggle="tab"  style="background-color: #ffe5d4;">Clothing</a>
                        </li>
                        <li class="nav-item">
                            <a href="#accessories" class="nav-link" data-bs-toggle="tab"  style="background-color: #ffe5d4;">Accessories</a>
                        </li>
                        <li class="nav-item ms-auto">
                            <a href="../dashboard.html" class="nav-link" style="background-color: #ffe5d4;">Back</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="clothing">
                            <h1 class="card-title text-center mt-5">Taylor Swift Clothing</h1>
                            <div class="container mt-5">
                                <div class="row mt-5">
                                    <div class="col-md-3 text-center">
                                        <div class="card" style="border: 2px dashed #d8c9e6;;">
                                            <img class="img-fluid mt-5" src="../../assets/images/cloth1.webp">
                                            <div class="card-body">
                                                <h5 class="card-title">TAYLOR SWIFT THE ERAS TOUR WASHED BLUE HOODIE</h5>
                                                <p class="card-text">P 3,750.00</p>
                                                <a href="#" class="btn btn-primary">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <div class="card" style="border: 2px dashed #d8c9e6;;">
                                            <img class="img-fluid mt-5" src="../../assets/images/cloth2.webp">
                                            <div class="card-body">
                                                <h5>TAYLOR SWIFT THE ERAS TOUR BEIGE T-SHIRT</h5>
                                                <p class="card-text">P 2,250.00</p>
                                                <a href="#" class="btn btn-primary">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <div class="card" style="border: 2px dashed #d8c9e6;;">
                                            <img class="img-fluid mt-5" src="../../assets/images/cloth3.webp">
                                            <div class="card-body">
                                                <h5 class="card-title">TAYLOR SWIFT THE ERAS TOUR BEIGE HOODIE</h5>
                                                <p class="card-text">P 3,750.00</p>
                                                <a href="#" class="btn btn-primary">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <div class="card" style="border: 2px dashed #d8c9e6;;">
                                            <img class="img-fluid mt-5" src="../../assets/images/cloth4.webp">
                                            <div class="card-body">
                                                <h5 class="card-title">TAYLOR SWIFT THE ERAS TOUR BLACK T-SHIRT</h5>
                                                <p class="card-text">P 2,250.00</p>
                                                <a href="#" class="btn btn-primary">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-5">
                                        <div class="col-md-3 text-center">
                                            <div class="card" style="border: 2px dashed #d8c9e6;;">
                                                <img class="img-fluid mt-5" src="../../assets/images/cloth5.webp">
                                                <div class="card-body">
                                                    <h5 class="card-title">TAYLOR SWIFT THE ERAS TOUR 1989 ALBUM T-SHIRT</h5>
                                                    <p class="card-text">P 2,250.00</p>
                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <div class="card" style="border: 2px dashed #d8c9e6;;">
                                                <img class="img-fluid mt-5" src="../../assets/images/cloth6.webp">
                                                <div class="card-body">
                                                    <h5 class="card-title">TAYLOR SWIFT THE ERAS TOUR LOVER ALBUM T-SHIRT</h5>
                                                    <p class="card-text">P 2,250.00</p>
                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <div class="card" style="border: 2px dashed #d8c9e6;;">
                                                <img class="img-fluid mt-5" src="../../assets/images/cloth7.webp">
                                                <div class="card-body">
                                                    <h5 class="card-title">TAYLOR SWIFT THE ERAS TOUR LOVER ALBUM T-SHIRT</h5>
                                                    <p class="card-text">P 2,250.00</p>
                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <div class="card" style="border: 2px dashed #d8c9e6;;">
                                                <img class="img-fluid mt-5" src="../../assets/images/cloth8.webp">
                                                <div class="card-body">
                                                    <h5 class="card-title">TAYLOR SWIFT THE ERAS TOUR LOVER ALBUM T-SHIRT</h5>
                                                    <p class="card-text">P 3,250.00</p>
                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="accessories">
                            <h1 class="card-title text-center mt-5">Taylor Swift Accessories</h1>
                            <div class="container mt-5">
                                <div class="row mt-5">
                                    <div class="col-md-3 text-center">
                                        <div class="card" style="border: 2px dashed #d8c9e6;;">
                                            <img class="img-fluid mt-5" src="../../assets/images/acc1.webp">
                                            <div class="card-body">
                                                <h5 class="card-title">TAYLOR SWIFT THE ERAS TOUR WASHED BLUE HOODIE</h5>
                                                <p class="card-text">P 1,000.00</p>
                                                <a href="#" class="btn btn-primary">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <div class="card" style="border: 2px dashed #d8c9e6;;">
                                            <img class="img-fluid mt-5" src="../../assets/images/acc2.webp">
                                            <div class="card-body">
                                                <h5 class="card-title">TAYLOR SWIFT THE ERAS TOUR GUITAR PICKS</h5>
                                                <p class="card-text">P 750.00</p>
                                                <a href="#" class="btn btn-primary">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <div class="card" style="border: 2px dashed #d8c9e6;;">
                                            <img class="img-fluid mt-5" src="../../assets/images/acc3.webp">
                                            <div class="card-body">
                                                <h5 class="card-title">TAYLOR SWIFT THE ERAS TOUR EARBUD CASE</h5>
                                                <p class="card-text">P 3,750.00</p>
                                                <a href="#" class="btn btn-primary">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <div class="card" style="border: 2px dashed #d8c9e6;;">
                                            <img class="img-fluid mt-5" src="../../assets/images/acc4.webp">
                                            <div class="card-body">
                                                <h5 class="card-title">TAYLOR SWIFT THE ERAS TOUR LUGGAGE STICKERS</h5>
                                                <p class="card-text">P 750.00</p>
                                                <a href="#" class="btn btn-primary">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row mt-5">
                                        <div class="col-md-3 text-center">
                                            <div class="card" style="border: 2px dashed #d8c9e6;;">
                                                <img class="img-fluid mt-5" src="../../assets/images/acc5.webp">
                                                <div class="card-body">
                                                    <h5 class="card-title">TAYLOR SWIFT THE ERAS TOUR TUMBLER</h5>
                                                    <p class="card-text">P 1,750.00</p>
                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <div class="card" style="border: 2px dashed #d8c9e6;;">
                                                <img class="img-fluid mt-5" src="../../assets/images/acc6.webp">
                                                <div class="card-body">
                                                    <h5 class="card-title">TS THE ERAS TOUR NOTES AND COLORED PENCILS</h5>
                                                    <p class="card-text">P 1,500.00</p>
                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <div class="card" style="border: 2px dashed #d8c9e6;;">
                                                <img class="img-fluid mt-5" src="../../assets/images/acc7.webp">
                                                <div class="card-body">
                                                    <h5 class="card-title">TAYLOR SWIFT THE ERAS TOUR LUGGAGE TAG</h5>
                                                    <p class="card-text">P 500.00</p>
                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <div class="card" style="border: 2px dashed #d8c9e6;;">
                                                <img class="img-fluid mt-5" src="../../assets/images/acc8.webp">
                                                <div class="card-body">
                                                    <h5 class="card-title">TAYLOR SWIFT THE ERAS TOUR PORTABLE CHARGER</h5>
                                                    <p class="card-text">P 1,000.00</p>
                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    
</body>
</html>